body {
  background-color: rgb(82, 81, 81);
  width: 960px;
  height: 1000px;
  margin: auto;
}

header {
  background-image: url("../img/salmon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  width: 960px;
  border: medium double black;
}

h1 {
  font-size: 3em;
  text-align: center;
  margin: 25px;
  color: aqua;
}

section {
  border: thick double cornflowerblue
  border-radius: 25px;
}

section img {
  margin: 10px;
  border-radius: 25px;
  border: medium solid chocolate
  width: 600px;
}

article {
  width: 33%;
  float: right;
  margin-right: 10px
}

h3 {
  font-size: 1.5em;
  margin: 10px;
}

p {
  line-height: 1.25em;
  text-align: justify;
}


ul {
  font-size: 1.3em;
  display: inline-block;
  color: black;
}

li {
  color: aqua;
  border: medium double black;
}

button {
  background-color: black;
}

table {
  border: thin double darkblue;
  width: 960px;
  color: cornflowerblue;
  margin-top: 2%;
  position: fixed;
}

#header {
  border: thin solid darkblue;
}

#footer {
  border: thin solid darkblue;
}

td {
  border: thin solid darkblue;
}