/* entire document */
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 900px;
  background: url(../img/Ocean.jpg) no-repeat center center fixed; 
  background-size: cover;
}

/* header */
header {
  background-color: #444;
  height: auto;
}
h1 {
  font-family: 'Lemonada', cursive;
  font-size: 3em;
  text-align: center;
  margin: auto;
  color: aqua;
}

nav {
  width: 960px;
  margin: auto;
  }

  header img {
    width: 200px;
    height: 70px;
    margin-top: 15px;
    float: left;
  }

  header span {
    display: inline-block;
    line-height: 100px;
    margin-left: 90px;
  }

  header span:nth-child(2) {
    margin-left: 30px;
  }

  nav a {
    text-decoration: none;
    color: #aaa;
  }

/* main */
  main {
    width: 960px;
    margin: auto;
  }

  main img {
    margin-top: 30px;
    width: 960px;
    height: 350px;
    border: thick double #aaa;
  }

  ul img {
    width: 290px;
    height: 375px;
  }

  section img {
    width: 470px;
    height: 400px;
  }

  main li:first-child {
    margin-left: 0px;
  }

  main li {
    margin-left: 30px;
    float: left;
  }

  main article {
    width: 50%;
    float: right;
    margin-top: 30px;
  }

  main h2 {
    margin-left: 30px;
    font-size: 20px;
    font-style: italic;
  }

  main p {
    height: 300px;
    overflow: auto;
    margin-top: 5px;
    margin-left: 30px;
    line-height: 20px;
    background-color: #aaa;
  }

  article div {
    background-color: #111;
    color: #eee;
    margin-top: 5px;
    margin-left: 30px;
    padding: 10px 30px;
    display: inline-block;
    font-size: 20px;
    border-radius: 10px;
      }

  article div:hover {
    background-color: rgb(63, 30, 210);
    transition: 350ms;
  }

  table {
    border: medium double darkblue;
    color: cornflowerblue;
    margin-top: 30px;
    width: 960px;
    background-color: rgb(216, 212, 212);
  }
  
  #header {
    border: thin solid rgb(1, 1, 39);
  }
  
  th {
    border: thin solid rgb(2, 0, 10);
  }
  
  td {
    border: thin solid rgb(5, 5, 207);
  } */

/* footer */
footer {
  background-color: #aaa;
  height: 25px;
}